@use "../abstract" as *;

.gallery-style {
  position: relative;
}

.gallery-bg-thumb {
  width: 100%;
  height: 100%;
  position: absolute;
  // background-repeat: no-repeat;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    inset-inline-start: 0;
    opacity: 0.8;
  }
}

.portfolio-img {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #262626;
    opacity: 0;
    left: 0;
    top: 0;
    transition: 0.3s;
  }
}

.portfolio-wrapper {
  &:hover {
    .portfolio-content {
      opacity: 1;
      transform: translateY(-10%);
    }

    .portfolio-img {
      img {
        transform: scale3d(1.05, 1.05, 1.05);
        filter: blur(1px);
      }

      ::before {
        opacity: 0.7;
      }
    }
  }
}

.portfolio-img {
  overflow: hidden;

  img {
    width: 100%;
    transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
  }


}

.portfolio-content {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.7s;
  opacity: 0;

  @media (hover:none) {
    opacity: 1;
    transform: translateY(-10%);
  }

  .portfolio-title {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: capitalize;

    >a {
      color: var(--clr-common-white);
      transition: 0.3s;

      &:hover {
        color: var(--clr-theme-1);
      }
    }

    @media #{$sm} {
      font-size: 20px;
    }

    @media #{$xxs} {
      font-size: 25px;
    }
  }
}

.portfolio-video {
  >a {
    height: 60px;
    width: 60px;
    background: var(--clr-theme-1);
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    border-radius: 50%;
    color: var(--clr-common-white);
    transition: 0.3s;
  }

  & :hover {
    background: var(--clr-common-white);
    color: var(--clr-common-black);
  }
}