/*#############################
##############################
04. Sidebar CSS
##############################
#############################*/

@use "../abstract" as *;

.lv-header-sidebar {
  &-wrapper {
    padding: 30px;
  }

  &-touch-widget {
    & .lv-footer-touch-widget-links {
      & a {
        font-size: 14px;
      }
    }

    & .lv-footer-title {
      margin-bottom: 6px;
    }
  }

  &-area {
    position: fixed;
    left: -140%;
    top: 0;
    overflow-y: auto;
    z-index: 10;
    transition: all 0.5s;
    height: 100%;
    background: var(--clr-common-white);
    min-width: 400px;

    &.header-sidebar-visible {
      left: 0;
    }

    @media #{$sm,$xs} {
      min-width: 319px;
    }
  }

  &-logo {
    text-align: center;

    & a {
      max-width: 153.91px;
      display: inline-block;
    }
  }

  &-close-text {
    font-size: 14px;
    font-weight: 3;

    padding-right: 5px;
    display: inline-block;
    transform: translateY(1px);
  }

  &-action {
    & a {
      &:hover {
        color: var(--clr-common-black);

        & svg {
          & path {
            fill: var(--clr-common-black);
          }
        }
      }
    }
  }

  &-official {
    &-gallery {
      &-item {
        height: 100px;
        background-position: top center;
      }
    }
  }

  &-widget {
    & .lv-footer-social-link {
      & a {
        font-size: 14px;
        margin-right: 20px;

        &::after {
          left: -14px;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  right: 0;
  top: 0;
  cursor: zoom-out;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: all 0.3s;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.5);
  transition-delay: 0.3s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

  &.visible-overlay {
    opacity: 1;
    visibility: visible;
  }
}

// side-bar

.fm-header-sidebar-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offcanvas-btn {
  font-size: 34px;
  color: var(--clr-common-white);

  &:hover {
    i {
      transform: rotate(90deg);
      color: var(--clr-theme-1);
    }
  }
}